        /* Style de la barre de navigation */
        .navbar {
            overflow: hidden;
            background-color: grey;
        }

        /* Style des liens dans la barre de navigation */
        .navbar a {
            float: left;
            display: block;
            color: White;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        /* Changement de couleur au survol des liens */
        .navbar a:hover {
            background-color: White;
            color: Black;
        }

        /* Style pour le menu déroulant */
        .dropdown {
            float: left;
            overflow: hidden;
        }

        /* Style du bouton du menu déroulant */
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: White;
            padding: 14px 20px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        /* Style du contenu du menu déroulant (masqué par défaut) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: grey;
            min-width: 160px;
            z-index: 1;
        }

        /* Style des liens du menu déroulant */
        .dropdown-content a {
            float: none;
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        /* Changement de couleur au survol des liens du menu déroulant */
        .dropdown-content a:hover {
            background-color: White;
            color: Black;
        }

        /* Afficher le contenu du menu déroulant au survol du bouton */
        .dropdown:hover .dropdown-content {
            display: block;
        }